.top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--gray);
  span {
    flex: 1;
    text-align: center;
  }
}

.btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include hover {
    background-color: var(--hover);
  }
}

.native {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.switch {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--switch-background);
  position: relative;
  cursor: pointer;
}
.circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--switch-circle);
  transition: all 0.3s ease;
}
.active {
  left: 22px;
  background-color: var(--travis);
}
